h1.reflection {
  color: #006622;
  font-family: helvetica;
  font-size: 100px;
  text-shadow: 4px 4px #993399;
  text-align: center;
}
h2 {
  color: black;
  font-family: helvetica;
  text-align: center;
}
h3 {
  font-family: helvetica;
  text-align: center;
}
