h1 {
  color: #FFCD6D;
  font-family: helvetica;
  font-size: 100px;
  text-shadow: 4px 4px #ff0000;
  text-align: center;
}
p.bio {
  color: #000000;
  font-family: helvetica;
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
p {
  font-family: helvetica;
  font-size: 15px;
  text-align: center;
}
p.MyWorks {
  color: #000000;
  font-family: helvetica;
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
p.game {
  color: #000000;
  font-family: helvetica;
  font-size: 20px;
  font-style: normal;
  text-align:left;
}
a {
color: #000000;
font-family: helvetica;
font-size: 15px;
font-style: italic;
font-weight: bold;
text-align: center;
