h1 {
  color: #FFCD6D;
  font-family: helvetica;
  font-size: 100px;
  text-shadow: 4px 4px #ff0000;
  text-align: center;
}
a.reflection {
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  text-align: center;
} 
p.bio {
  color: #000000;
  font-family: helvetica;
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.centerpic {
  width: 810px;
  margin: auto;
}
p {
  font-family: helvetica;
  font-size: 15px;
  text-align: center;
}
p.MyWorks {
  color: #000000;
  font-family: helvetica;
  font-size: 23px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
p.game {
  color: #000000;
  font-family: helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  
}
img {
display: block;
    margin: auto;
    width: 40%;
}
h1.reflection {
  color: #006622;
  font-family: helvetica;
  font-size: 100px;
  text-shadow: 4px 4px #993399;
  text-align: center;
}
h2 {
  color: black;
  font-family: helvetica;
  text-align: center;
}
h3 {
  font-family: helvetica;
  text-align: center;
}
.centerpic {
  width: 810px;
  margin: auto;
}
.box {
    border-radius: 95px;
    border: 2px solid #000099;
    padding: 20px;
    margin-bottom: 10px;
    width: 800px;
    height: 250px;
}
.box {
    border-radius: 95px;
    border: 2px solid #000099;
    padding: 20px;
    margin-bottom: 10px;
    width: 800px;
    height: 250px;

}
a {
  font-size: 40px;
  font-family: helvetica;
  text-align: center;
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}


